@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    color: var(--text-light);
    background-color: var(--text-light);
}

a:link, 
a:visited {
    color: var(--accent-color);
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

.headline {
    font-family: var(--secondary-font);
}

button {
    all: unset;
    color: var(--text-light);
    font-size: 150%;
}


header, 
footer {
    background-color: var(--primary-color);
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: left;
    padding-left: 15rem;
}

.menuItem {
    display: none;
}

.hide {
    display: block;
}

h1,
p {
    margin: 0;
}

h2 {
    color: var(--text-dark);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure>img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 10px solid white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

.viewer {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    place-self: center;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
}

.close-viewer {
    grid-row: 1;
    justify-self: end;
    margin: 10px;
    cursor: pointer;
}

div>img {
    grid-row: 2;
    max-height:80%;
    max-width: 80%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
    overflow: hidden;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
      }
    .menuItem {
        display:none;
    }
}

@media screen and (min-width:1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav>button {
        display: none;
    }
    .menuItem {
        display: inline;
        margin: 5rem;
    }
    .viewer {
        max-height: 90%;
        max-width: 85%;
    }
}