@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC", sans-serif;
}

/* * {
    border: 1px solid red;
} */

body {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    padding-top: 0rem;
}

hr {
    margin: 1rem;
}

header {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    
    img {
        max-height: 100px;
    }

    h1 {
        font-size: 4em;
    }
}

.search-row {
    display: flex;
    border-radius: 5px;

    img {
        height: 20px;
    }

    input {
        width: 100%;
    }
}



.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 5rem;

    img {
        max-width: fit-content;
    }
    span {
        font-family: var(--primary-font);
    }
    h2 {
        font-size: 2rem;
        color: var(--primary-color);
        padding: 0px;
        padding-top: 1rem;
        margin: 0px;
    }
    .tag-row {
        margin-top: 8px;
        align-self: left; 
        margin-bottom: 15px;
    }
    .tag {
        border: 1px solid black;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.25rem;
    }
    .recipe-description {
        visibility: hidden;
        font-family: var(--primary-font);
        font-size: 1.5rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #footer-txt {
        font-family: var(--primary-font);
        color: var(--primary-color);
        text-align: center;
        text-decoration: none;
        font-size: 15px;
    }

    a>img {
        max-height: 3.5rem;
        width: 4rem;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 600px) {
    .recipe {
        flex-direction: row;
        gap: 20px;
        img {
            order: 1;
            max-width: 20rem;
            max-height: 20rem;
        }
        .recipe-info {
            order: 2;
        }

        .recipe-description {
            visibility: visible;
        }
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (max-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    } 
}