@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #C0A14D;
  --primary-color-trans: hsl(44, 48%, 53%, 0.5);
  --secondary-color: #270014;
  --secondary-color-trans: rgb(39, 0, 20, 0.5);
  --accent1-color: #334139;
  --accent1-color-trans: hsl(146, 12%, 23%,0.5);
  --accent2-color: #8B8687;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

.skiptocontent {
    position: absolute;
    top: -40px;
        
}
.skiptocontent:focus {
    top: 0;
}

body {
  background-image: url('images/5e-background.png');
  background-size:cover;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  h1, h2, legend {
    font-family: var(--heading-font);
  }
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }
}

.main-contain {
  margin: 42px;
}

header {
  background-color: var(--secondary-color);
  font: var(--heading-font);
  color: var(--primary-color);
  display: flex;
  gap: 3.5rem;
  align-items:center;
  justify-content: flex-start;
  padding-left: 4rem;

  hr {
    border-color: var(--primary-color);
  }
  img {
    max-width: 10rem;
    padding: 1rem;
  }
}

.players, .monsters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: space-between;
}

.player, .monster {
  border: 1.75px solid var(--secondary-color);
  padding: 25px;
  margin: 8px;
  width: 22rem;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 0px;
  }
  button {
    margin-top: 12px;
    align-self: flex-end;
  }
}

.item {
  margin: 1px;
}

#player-label {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-family: var(--heading-font);
}

#index-block {
  margin: 3rem;
  margin-top: 0rem;
}

fieldset {
  border-color: var(--primary-color);
  margin: 10px;
}

.monsters {
  border-color: var(--accent1-color);
}

.req {
  color: red;
}

button {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: rgb(255, 255, 255, 0.5);
}

button:hover {
  background: white;
}

#add, #madd, #submitButton, .rmvform, .rmvMonform {
  margin-top: 10px;
  width: 100px;
  padding: 3px;
}

footer {
  background-color: var(--secondary-color);
  font: var(--heading-font);
  color: var(--primary-color);
  display: flex;
  gap: 3rem;
  align-items:center;
  justify-content: flex-start;


  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 3rem;
}

#link_logo {
  height: 2rem;
  margin-left: 2rem;
}

@media (min-width: 980px) {
  .players, .monsters {
    grid-template-columns: 1fr 1fr;
  }
  #add, #madd {
    grid-column:1;
  }
}

@media (min-width: 1400px) {
  .players, .monsters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Below for in-tracker --------------------------------------- */

.main2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 26px;
  justify-items: start;
  align-items: start;
}

.tracker-main {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin:26px;
  gap: 0.75rem;
}

.player-block, .monster-block {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0.5rem;
  border: 5px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color-trans);
  margin: 0.25rem;

  .block-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      order: 2;
    }
  }
  
  .class-icon {
    max-width: 5rem;
    justify-self: end;
    align-self: flex-end;
    border: 5px outset white;
  }
  
  .block-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
    button {
      color: var(--primary-color);
      border-color: var(--primary-color);
      align-self: end;
      padding: 5px; 
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

.monster-block {
  border-color: var(--accent1-color-trans);
  background-color: var(--accent1-color-trans);

  button.dead {
    border-color: var(--accent1-color);
    color: var(--secondary-color);
  }
}

.counter_sect {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  
  display: none;
  /* display: grid; */
  grid-template-columns: 90px 90px;
  align-items: center;
  justify-items: center;
  padding: 5px 30px;
  gap: 10px 0px;

  #round_txt, #active_txt, #on_deck_txt {
    font-family: var(--heading-font);
  }

  #next, #end {
    grid-column: 1/span 2;
    justify-self: stretch;
  }

  h3, p {
    justify-self: start;
    margin: 5px;
  }

  #time_txt, #time {
    margin: 5px;
    margin-top: 0px;
    justify-self: end;
  }
  #time {
    justify-self: start;
  }
}

#active, #on_deck {
  white-space: normal;
  word-break: break-word;
  max-width: 100%;
}

#counter {
  background-color: white;
  padding: 8px;
  margin: 0px;
}

#start {
  grid-column: 1;
}

button.dead:hover, #end:hover, button.rmvform:hover, button.rmvMonform:hover {
  background: darkred;
  color: whitesmoke;
}

@media (min-width: 880px) {
  .counter_sect {
    justify-self: center;
  }
}

/* Conditions --------------------------------------- */
.conecentration {
  background-color: lightyellow;
}
.unconscious {
  background-color: gray;
}
.blinded {
  border-color: white;
}
.charmed {
  background-color: lightpink;
}
.frightened {
  background-color: purple;
}
.incapacitated {
  background-color: lightblue;
}
.invisible {
  background-color: white;
}
.paralyzed {
  border-color: yellow;
}
.poisoned {
  border-color: blueviolet;
}
.prone {
  background-color: lightgreen;
}
.restrained {
  background-color: lightsalmon;
}
.stunned {
  border-color: yellowgreen;
}
.petrified {
  border-color: lightslategray;
}
.exhaustion {
  border-color: darkblue;
}